<h1>Logowanie</h1>

<form method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
            type="email"
            name="email"
            value="<%= form.email %>"
            class="form-control"
            required 
        >
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input
            type="password"
            name="password"
            value="<%= form.password %>"
            class="form-control"
            required 
        >
    </div>
    
    <button class="btn btn-primary">Zaloguj</button>
</form>

<% if(errors) { %>
    <div class="alert alert-danger mt-3">
        Niepoprawny email lub hasło
    </div>
<% } %>