body{
    background: rgb(87,87,87);
    background: linear-gradient(27deg, rgba(87,87,87,1) 0%, rgba(193,193,193,1) 46%, rgba(178,242,255,1) 100%);
    min-height: 100vh;
}

.site-logo{
    max-height: 50px;
}